<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Base Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/cuisines">Cuisines</a></li>
                <li><a href="/favorites">Favorites</a></li>
                <li><a href="/user_profile">Profile</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>

        <h1>Welcome to YumHub!</h1>
    

        {% block content %} {% endblock %}

        <footer>
            Happy Eating!
        </footer>
        
        
        <script src="app.js" async defer ></script>
    </body>
</html>