{% extends 'base.html' %}
{% block content %} 

<body>
    <h1>Recipe Details</h1>
    <div id="recipe-details">
        <h2 id="recipe-title"></h2>
        <p><strong>Category:</strong> <span id="recipe-category"></span></p>
        <p><strong>Area:</strong> <span id="recipe-area"></span></p>
        <h3>Ingredients:</h3>
        <ul id="recipe-ingredients"></ul>
        <h3>Instructions:</h3>
        <p id="recipe-instructions"></p>
        <img src="" alt="Recipe Thumbnail" id="recipe-thumbnail">
    </div>
</body>

{% endblock %}